.footerContainer {
	width: 90%;
	margin: 5% auto;
}
.topFooter {
	width: 100%;
	display: grid;
	grid-template-columns: 25% 25% 25% 25%;
	color: #737373;
}
.ourStory p {
	padding-right: 25%;
	font-size: 13px;
	line-height: 1.6;
}
.more {
	display: flex;
	flex-direction: column;
}
.more a {
	margin-bottom: 2%;
	text-decoration: none;
	color: #737373;
	font-size: 13px;
}
.shop {
	display: flex;
	flex-direction: column;
}
.shop a {
	margin-bottom: 2%;
	text-decoration: none;
	color: #737373;
	font-size: 13px;
}
.newsletter p {
	padding-right: 25%;
	font-size: 13px;
	line-height: 1.6;
}
.newsletterForm {
	border: solid 1px #d0d0d0;
	display: flex;
	justify-content: space-between;
}
.newsletterForm input {
	border: none;
	width: 100%;
	padding-left: 3%;
	outline: none;
}
.newsletterForm button {
	border: none;
	background-color: #d0d0d0;
	color: #737373;
	padding: 3% 5%;
}
.social {
	width: 30%;
	display: flex;
	justify-content: space-between;
}
.bottomFooter {
	margin-top: 7%;
	color: #737373;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.razorpay {
	width: 20%;
}
