.navbarContainer {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	background-color: #fff;
	z-index: 999;
}
.navbar {
	margin: 0 auto;
	width: 90%;
	display: flex;
	justify-content: space-between;
	align-items: center;

	top: 0;
}
.navbarLeft {
	width: 25%;
	display: flex;
	justify-content: space-between;
}
.navbarLeft a {
	text-decoration: none;
	outline: none;
	font-size: 14px;
}
.navbarLeft a:visited {
	color: #737373;
}
.navbarLeft a:hover {
	color: #737373;
}
.navbarLeft a:active {
	color: #737373;
}
.logo {
	width: 50%;
	text-align: center;
}
.logo h1 {
	font-family: Big-Caslon-Medium;
	color: #737373;
}

.navbarRight {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 25%;
}
.contact a {
	text-decoration: none;
	outline: none;
	font-size: 14px;
}
.contact a:visited {
	color: #737373;
}
.contact a:hover {
	color: #737373;
}
.contact a:active {
	color: #737373;
}

.personal {
	display: flex;
	justify-content: space-between;
	width: 35%;
}
