img {
	display: block;
	width: 100%;
	height: auto;
	object-fit: cover;
}
.spotlight {
	width: 100%;
	margin-top: 6%;
}
.spotlightImage {
	width: 100%;
	position: relative;
}
.spotlightImageText {
	position: absolute;
	font-size: 35px;
	top: 20%;
	left: 35%;
	text-align: center;
	font-family: Big-Caslon-Medium;
	color: #737373;
	font-weight: 100;
}
.productContainer {
	width: 75%;
	margin: 0 auto;
	margin-top: 6%;
}
.productContainer p {
	font-family: BigCaslon-Medium;
	width: 55%;
	margin: 0 auto;
	text-align: center;
	color: #494949;
	line-height: 1.7;
}
.products {
	margin-top: 5%;
	display: grid;
	grid-template-columns: auto auto;
}
.products div {
	width: 100%;
	position: relative;
}
.linen {
	opacity: 0;
	transition: opacity 1s ease-in-out;
	-moz-transition: opacity 1s ease-in-out;
	-webkit-transition: opacity 1s ease-in-out;
}
.robes {
	opacity: 0;
	transition: opacity 1s ease-in-out;
	-moz-transition: opacity 1s ease-in-out;
	-webkit-transition: opacity 1s ease-in-out;
}
.fragrance {
	opacity: 0;
	transition: opacity 1s ease-in-out;
	-moz-transition: opacity 1s ease-in-out;
	-webkit-transition: opacity 1s ease-in-out;
}
.towel {
	opacity: 0;
	transition: opacity 1s ease-in-out;
	-moz-transition: opacity 1s ease-in-out;
	-webkit-transition: opacity 1s ease-in-out;
}

.products div button {
	position: absolute;
	bottom: 7%;
	left: 30%;
	border: none;
	background-color: #fff;
	width: 40%;
	padding: 3% 0;
	color: #737373;
	font-weight: bold;
	font-size: 14px;
	cursor: pointer;
}
.bestSellerContainer {
	width: 75%;
	margin: 6% auto;
}
.bestSellerContainer h3 {
	font-family: BigCaslon-Medium;
	color: #494949;
	text-align: center;
}
.bestSeller {
	display: flex;
	justify-content: space-between;
	margin-top: 5%;
}
.bestSeller div {
	margin: 1%;
}
.bestSeller div p {
	padding: 2%;
}
.about {
	background-color: #f7f7f7;
	padding-bottom: 5%;
}
.about h5 {
	font-family: BigCaslon-Medium;
	color: #141414;
	text-align: center;
	font-size: 28px;
	padding-top: 6%;
}
.about .text {
	display: flex;
	justify-content: space-between;
	width: 70%;
	margin: 0 auto;
}
.aboutDescription h6 {
	font-size: 20px;
	text-align: center;
}
.aboutDescription p {
	font-size: 13px;
	text-align: center;
	margin: 2% 4%;
}
.ratingContainer {
	width: 50%;
	margin: 5% auto;
	text-align: center;
}
.star {
	margin-bottom: 2%;
}
.review {
	width: 80%;
	font-family: BigCaslon-Medium;
	color: #141414;
	text-align: center;
	font-size: 28px;
	margin: 0 auto;
	opacity: 0;
	transition: opacity 2s ease-in-out;
	-moz-transition: opacity 2s ease-in-out;
	-webkit-transition: opacity 2s ease-in-out;
}
.testimonials {
	margin: 5% 0;
}
.ratingContainer .testimonials a {
	text-decoration: underline;
	color: #737373;
}
.ratingContainer .testimonials a:visited {
	color: #737373;
}
.ratingContainer .testimonials ¯a:hover {
	color: #737373;
}
.ratingContainer .testimonials a:active {
	color: #737373;
}
.followUs {
	color: #737373;
	text-align: center !important;
	display: flex;
	justify-content: center;
	align-items: center;
}
.followUs h4 {
	margin: 5% 2%;
	font-size: 12px;
}
.footerImages {
	display: flex;
}
.animationClass {
	opacity: 1 !important;
}
