body {
  margin: 0;
  font-family: "BrownStd-Regular";
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
@font-face {
  font-family: "BrownStd-Bold";
  src: local("BrownStd-Bold"),
   url("./fonts/BrownStd-Bold.otf") format("truetype");
  font-weight: bold;
}
@font-face {
  font-family: "BrownStd-Light";
  src: local("BrownStd-Light"),
    url("./fonts/BrownStd-Light.otf") format("truetype");
  font-weight: lighter;
}
@font-face {
  font-family: "BrownStd-Regular";
  src: local("BrownStd-Regular"),
    url("./fonts/BrownStd-Regular.otf") format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: "Big-Caslon-Medium";
  src: local("Big-Caslon-Medium"),
    url("./fonts/Big Caslon Medium.ttf") format("truetype");
  font-weight: normal;
}